﻿
<!--html helpers-->

<form action="/customer/Register" method="post">


    <input type="text" name="firstName" placeholder="enter firstname" required />
    <br />
    <input type="text" name="lastName" placeholder="enter lastName" required/>
    <br />
    <input type="submit" value="Register ME!" />
</form>

<div>
    <h1>@ViewBag.Message</h1>

    @* @if (ViewBag.Message == null)
    {
        <h1>Get request</h1>
    }
    else
    {

      <h1>POst request</h1>
    } *@

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

<script>
    $(document).ready(function () {
        $("#registrationform").validate({
            rules: {
                firstname: {
                    required: true,
                    minlength: 2,
                    maxlength: 15
                },
                lastname: {
                    required: true,
                    minlength: 2,
                    maxlength: 10
                }
            },
            messages: {
                firstname: {
                    required: "first name is required",
                    minlength: "first name must be at least 2 characters",
                    maxlength: "first name cannot exceed 15 characters"
                },
                lastname: {
                    required: "last name is required",
                    minlength: "last name must be at least 2 characters",
                    maxlength: "last name cannot exceed 10 characters"
                }
            }
        });
    });
</script> 
