@using Bankpplication.DTOs
@model AccountMasterEditDto

@using (Html.BeginForm())
{

    <p>
        @Html.HiddenFor(m => m.Id)


    </p>


    <p>
        Name is @Html.TextBoxFor(m => m.Name)


    </p>

    <p>
        Balance is @Html.TextBoxFor(m => m.Balance)


    </p>
    <input type="submit" value="Save" />

}
