@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Login Form </title>
    <link rel="icon" href="/Images/rrd_Img.jpg">
    <link rel="stylesheet" href="~/css/style.css" />
    
</head>
<body>
    <h2> Login Page </h2>
    <br>
    <div class="Login">
        <form id="login" method="get" action="login.php">
            <label><b> Enter Your Name </b></label>
            <input type="text" name="Uname" id="Uname" placeholder="Enter Your Name">
            <br></br>
            <label><b> Password </b></label>
            <input type="password" name="pass" id="pass" placeholder="password">
            <br><br>
            <input type="button" name="log" id="log" value="Log in Here">
            <br><br>            
        </form>
    </div>
    </body>
</html>