<h1> Welcome to Home controller !!!</h1>

@Html.ActionLink("Go to Index ", "Index", "Home");
<br />

@Html.ActionLink("Go to ImageDiplay", "ImageDisplay", "Home");

<br />
@Html.ActionLink("Click to display a customer", "Display", "Customer")

