@using MVCAjaxandPartialPages.DTOs
@model TimeStampDto

@{
    ViewBag.ChildTitle = "Home";
   
}


<section>
    This is Index page of home controller


    @{
        Html.RenderPartial("_TimeStamp", new TimeStampDto { Title = "from home controller" });
    }

</section>