<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mySQLConnection" connectionString ="Data Source = CHLAPDMARKOND\\SQLEXPRESS; Initial Catalog = rrd_db1;Integrated Security=True;Trust Server Certificate=True;Encrypt = False ; Connection Timeout=300"/>
	</connectionStrings>
</configuration>